.contentWrapper {
	padding : 0 10px;
}

.newsWrapper {
	border : 1px solid #ddd;
	background-color: #FDFDFD;
	padding : 0 10px 5px 10px;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
	margin-bottom : 30px;
}

.title-small {
	font-size : 12px;
	font-weight: normal;
	line-height: 1;
	color: #999999;
	display: inline-block;
}