<form class="form-horizontal" role="form" id="frmcheckinout">
    <div class="form-group ">
    <div class="col-lg-12">        
      <label for="barcode">Barcode</label>
      <div id="searchdiv" class="input-group" style="padding-bottom:5px;width:100%">  
        <input type="text" class="form-control" id="barcode" name="barcode" placeholder="Enter barcode" data-required="true">               
        <span class="input-group-addon glyphicon glyphicon-barcode"></span>
      </div>         
    </div>
    </div>     
    <div class="form-group ">
    <div class="col-lg-12">        
      <label for="msearch">Manual Search</label>
      <div id="searchdiv" class="input-group" style="padding-bottom:5px;width:100%">  
        <input type="text" class="form-control" id="msearch" name="msearch" placeholder="Enter plate name" data-required="true">         
        <span class="input-group-addon glyphicon glyphicon-search"></span>
      </div>         
      <!-- <span class="help-block">Note......</span>        -->
    </div>
    </div>   

    <div id="plateinfo" style="display:none">
    <div class="form-group">
      <div class="col-lg-12">
        <fieldset>
        <legend>Check In Info</legend>
        <table width="100%" style="border:2px solid #006dcc">
          <tr>
            <td>Customer Name:</td>
            <td><span id="custname"></span></td>
            <td>Last printed date:</td>
            <td><span id="lastprintdate"></span></td>
          </tr>
          <tr>
            <td>Plate Name:</td>
            <td><span id="platename"></span></td>
            <td>Board Created Date:</td>
            <td><span id="platecreateddate"></span></td>
          </tr>
          <tr>
            <td>Barcode:</td>
            <td><span id="pibarcode"></span></td>
            <td>Printed Time:</td>
            <td><span id="printedtime"></span></td>
          </tr>
          <tr>
            <td>Shelf:</td>
            <td><span id="shelf"></span></td>
            <td>Printed Quantity:</td>
            <td><span id="printedqty"></span></td>
          </tr>
        </table>      
        </fieldset>
      </div>
    </div>
      
    <div class="form-group ">
      <div class="col-lg-12">        
        <label for="printqty">Print Quantity</label>
        <input type="text" class="form-control" id="printqty" name="printqty" placeholder="Enter quantity" data-required="true">         
      </div>
    </div>        
    <div class="form-group ">
      <div class="col-lg-12">        
        <label for="remark">Remark</label>
        <textarea class="form-control" rows="4" cols="100" id="remark"></textarea>
      </div>
    </div>     
    <div class="form-group ">
      <div class="col-lg-6">        
      <button class="btn btn-lg btn-primary" id="btnclear" type="button">Clear</button>
      <button class="btn btn-lg btn-primary" id="btnsave" type="button">Save</button>
      </div>
    </div>
    </div> <!-- end of plate info -->
</form>
