<!DOCTYPE html>
<html>
<head>
	<meta charset="{$charset}">
{foreach from=$csslist item="css"}
	<link rel="stylesheet" type="text/css" href="{$css}">
{/foreach}	
{foreach from=$jslist item="js"}
	<script type="text/javascript" src="{$js}"></script>
{/foreach}
	<title>{$title}</title>
</head>
<body style="padding-bottom:20px">
	<nav class="navbar navbar-default navbar-inverse" role="navigation">
	  <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavi">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Rack System</a>
		<ul class="nav navbar-nav navbar-fix">
		  <li>
			<a href="#" id='calendarToggle'><span class="glyphicon glyphicon-calendar"></span></a>
		  </li>
		</ul>
		<input type='checkbox' id='toggleDateTime'/>
		<label  class="navbar-text" for='toggleDateTime' id="dateTimeContainer">
			<div id='timeContainer'><span id="hourContainer">10</span><span id="pointContainer">:</span><span id="minuteContainer">30</span> <span id="pmContainer">PM</span> <span id="dateContainer">10-Jan-2014</span></div>
		</label>
	  </div>
	  <div class="collapse navbar-collapse" id='mainNavi'>
		{$Menu->render()}
		<ul class="nav navbar-nav navbar-right">
			<span class="expiring">{$expiring}</span> 
			<li><a href="/{$APP}/web/FAQ/newsevent">FAQ</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{$USER->name}</a>
				<ul class="dropdown-menu" role="menu">
				  <li><a href="/{$APP}/web/Setting/profile">Profile</a></li>
				  <li><a href="{$logouturl}">Logout</a></li>
			
				</ul>
			</li>
		</ul>
	  </div>
	</nav>
<div id="body" class="container">
	<div class="row">
		
<script type="text/javascript">
var now = moment({$serverdate->getTimestamp()}*1000),
	serverTZOffset = "{$serverdate->format('O')}";

{literal}

(function($){ //create closure so we can safely use $ as alias for jQuery
	/*
	// initialize number format
	accounting.settings = {
		currency: {
			symbol : "VND",   // default currency symbol is '$'
			format: "%v%s", // controls output: %s = symbol, %v = value/number (can be object: see below)
			decimal : ".",  // decimal point separator
			thousand: ",",  // thousands separator
			precision : 0   // decimal places
		},
		number: {
			precision : 0,  // default precision on numbers is 0
			thousand: ",",
			decimal : "."
		}
	};
*/
	now.formatLocal = function (fmt) {
		return this.format(fmt);
	}
	now.formatServer = function (fmt) {
		var serverNow = moment(now);
		return serverNow.zone(serverTZOffset).format(fmt);
	}

	var dateEL = {
		$hour : $('#dateTimeContainer').find('#hourContainer'),
		$min : $('#dateTimeContainer').find('#minuteContainer'),
		$pm : $('#dateTimeContainer').find('#pmContainer'),
		$date : $('#dateTimeContainer').find('#dateContainer')
	}
	
	refreshAutotime();
	window.setInterval(refreshAutotime, 1000);
	function refreshAutotime(){
		now.add('s', 1);
		dateEL.$hour.html(now.formatServer('h'));
		dateEL.$min.html(now.formatServer('mm'));
		dateEL.$pm.html(now.formatServer('A'));
		dateEL.$date.html(now.formatServer('D-MMM-YYYY'));
	}
	
})(jQuery);
</script>
{/literal}