<div class="col-lg-6">    
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>{'Total Shelf'|tl:true:'dashboard'} </td>
        <td style='text-align:right'>{$totalshelf}</td>
      </tr>
       <tr>
        <td>{'Total Slot'|tl:true:'dashboard'}</td>
        <td style='text-align:right'>{$summinfo.totalslot}</td>
      </tr>
      <tr>
        <td>{'Total Available Slot'|tl:true:'dashboard'}</td>
        <td style='text-align:right'>{$summinfo.availableslot}</td>
      </tr>
      <tr>
        <td>{'Total Plate'|tl:true:'dashboard'}</td>
        <td style='text-align:right'>{$summinfo.totalplate}</td>
      </tr>   
      <tr>
        <td>{'Total Print Time'|tl:true:'dashboard'}</td>
        <td style='text-align:right'>{$plateinfo.printtime}</td>
      </tr>    
      <tr>
        <td>{'Total Quantity'|tl:true:'dashboard'}</td>
        <td style='text-align:right'>{$plateinfo.printqty}</td>
      </tr>    
      <tr>
        <td>{'Total Customer'|tl:true:'dashboard'}</td>
        <td style='text-align:right'>{$totalcust}</td>
      </tr>          
    </tbody>  
  </table>    
</div>
<div class="col-lg-6">   
  <div id="slotsumm" style="min-width: 310px; height: 400px; margin: 0 auto">
  </div>
</div>
<script type="text/javascript">
var $piedata = {
  'totalplate'     : parseInt({$summinfo.totalplate}),
  'avaslot'    : parseInt({$summinfo.availableslot})  
};
var chartmsg = {
  'title'  : '{"Plate Summary"|tl:false:"dashboard"}'
};
{literal}
$(document).ready(function() {
  console.log($piedata);
  // Build the chart
    $('#slotsumm').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false

        },
        credits: {
          enabled: false
        },
        title: {
            text: chartmsg.title
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
         series: [{
            type: 'pie',
            name: 'Plate Summary',
            data: [
                ['Total Plates',   $piedata.totalplate],
                ['Available Slot',      $piedata.avaslot]
            ]
        }]
    });
});
{/literal}
</script>
