/* skyblue */
div.dbo_theme_skyblue{
	width:90%;
	margin:auto;
}
/*Apply to all the table */
div.dbo_theme_skyblue >  table {
	width:100%;
	border-spacing:3px;
    border-collapse:collapse;
    margin-left:10px;
    margin-right:10px;
   	color:#222222;
}
div.dbo_theme_skyblue > table td, table th{
    padding: 3px; /* 'cellpadding' equivalent */
}

div.dbo_theme_skyblue div.value_container input  {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

div.dbo_theme_skyblue div.value_container input.text:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}


/* list */
div.dbo_theme_skyblue td.dbo_container_list{
}


div.dbo_theme_skyblue table.dbo_list{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 0px solid #4297d7;
	width: 100%;
	color: #222222;
	border-spacing: 0px;
}
div.dbo_theme_bluesky table.dbo_list > caption {
	color:#222222;
}
div.dbo_theme_skyblue table.dbo_list > thead > tr{
}

div.dbo_theme_skyblue table.dbo_list > thead > tr > th{
	border:1px solid #4297d7;
}

div.dbo_theme_skyblue table.dbo_list > thead > tr div.tool{
	float:right;
}

div.dbo_theme_skyblue table.dbo_list > thead > tr div.tool > a.search_link{
	display: block;
	float:left;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	background-image: url(images/dbo/dbo-icon_skyblue_16by16.png);
	background-position: 0px 0px; 
	cursor:pointer;
}

div.dbo_theme_skyblue table.dbo_list > thead > tr div.tool > a.new_link{
	display:block;
	float:left;
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	background-image: url(images/dbo/dbo-icon_skyblue_16by16.png);
	background-position: -72px 0px;
	margin-left:5px;
	cursor:pointer;
}

div.dbo_theme_skyblue table.dbo_list > thead > tr div.tool > a.export_link{
	display:block;
	float:left;
	width:30px;
	height:30px;
	color:transparent;
}

div.dbo_theme_skyblue table.dbo_list > thead > tr div.tool > a.dbo_config_link{
	display:block;
	float:left;
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	background-image: url(images/dbo/dbo-icon_skyblue_16by16.png);
	background-position: -216px 0px;
	cursor:pointer;
}

div.dbo_theme_skyblue table.dbo_list > thead > tr div.tool > input.multiple_delete{
	display:block;
	float:left;
	width: 16px;
	height: 16px;
	border:0px;
	background-color:transparent;
	color:transparent;
	background-image: url(images/dbo/dbo-icon_skyblue_16by16.png);
	background-position: -108px 0px;
	cursor:pointer;
	margin-left:5px;
}
div.dbo_theme_skyblue table.dbo_list > thead > tr div.tool > input.list_submit{
	margin-left:5px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	*background-color: #0044cc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

div.dbo_theme_skyblue table.dbo_list > thead > tr.title{
	background-color:#428bca;
	border:1px solid #428bca;
	color:#ffffff;
}

div.dbo_theme_skyblue table.dbo_list > tbody > tr{
}

div.dbo_theme_skyblue table.dbo_list > tbody > tr > td{
	border:1px solid #4297d7;
}

div.dbo_theme_skyblue table.dbo_list > tbody > tr:nth-child(odd){
	background-color:#fcfdfd;
	border:1px solid #a6c9e2;
	color:#222222;
}

div.dbo_theme_skyblue table.dbo_list > tbody > tr:nth-child(even){
	background-color:#b6dbf2;
	border:1px solid #b6dbf2;
	color:#222222;
}

div.dbo_theme_skyblue table.dbo_list > tbody > tr.active{
	border:1px solid #6eac2c;
	background-color:#acdd4a;
	color:#ffffff;
}

div.dbo_theme_skyblue table.dbo_list > tbody > tr:hover{
	border:1px solid #fcd113;
	background-color:#f8da4e;
	color:#915608;
}

div.dbo_theme_skyblue table.dbo_list th.recordnum{
	text-align:left;
	white-space:nowrap;
}
div.dbo_theme_skyblue table.dbo_list td.recordnum{
	text-align:left;
	white-space:nowrap;
}
div.dbo_theme_skyblue table.dbo_list td.recordnum > div:after{
}

div.dbo_theme_skyblue table.dbo_list td.tool{
	padding-left:6px;
}

div.dbo_theme_skyblue table.dbo_list td.tool a.detail_link{
	width:16px;
	height:16px;
	overflow:hidden;
	display:inline-block;
	color:transparent;
	background:url(images/dbo/list_detail.png) no-repeat;
	visibility:hidden;
	margin:2px;
}
div.dbo_theme_skyblue table.dbo_list tr:hover td.tool a.detail_link{
	visibility:visible;
}

div.dbo_theme_skyblue table.dbo_list td.tool a.edit_link{
	width:16px;
	height:16px;
	overflow:hidden;
	display:inline-block;
	color:transparent;
	background-repeat: no-repeat;
	background-image: url(images/dbo/dbo-icon_skyblue_16by16.png);
	background-position: -36px 0px; 
	visibility:hidden;
	margin:2px;
}
div.dbo_theme_skyblue table.dbo_list tr:hover td.tool a.edit_link{
	visibility:visible;
}

div.dbo_theme_skyblue table.dbo_list td.tool a.delete_link,
div.dbo_theme_skyblue table.dbo_list th.tool a.delete_link{
	width:16px;
	height:16px;
	overflow:hidden;
	display:inline-block;
	color:transparent;
	background-image: url(images/dbo/dbo-icon_skyblue_16by16.png);
	background-position: -108px 0px;
	visibility:hidden;
	cursor:pointer;
	margin:2px;
}
div.dbo_theme_skyblue table.dbo_list tr:hover td.tool a.delete_link{
	visibility:visible;
}

div.dbo_theme_skyblue table.dbo_list ul.dbo_paging{
	float:left;
	list-style-type:none;
	padding:0px;
	margin:0px;
	background-color:#FFFFFF;
	border-radius:5px;
	height:24px;
	line-height:24px;
	font-size:0.8em;
}

div.dbo_theme_skyblue table.dbo_list ul.dbo_paging a{
	color:#0044CC;
}

div.dbo_theme_skyblue table.dbo_list ul.dbo_paging > li{
	float:left;
}

div.dbo_theme_skyblue table.dbo_list ul.dbo_paging > li > a, 
div.dbo_theme_skyblue table.dbo_list ul.dbo_paging > li > span{
	display:block;
	padding:0px 2px;
}

div.dbo_theme_skyblue table.dbo_list ul.dbo_paging > li.previouspage{
	margin-right:1px;
}

div.dbo_theme_skyblue table.dbo_list ul.dbo_paging > li.previouspage > span{
	background-image: url(images/dbo/dbo-icon_skyblue_16by16.png);
	background-position: -146px 0px; 
	width: 16px;
	height: 16px;
	padding:0px;
	color:transparent;
	text-align:center;
}

div.dbo_theme_skyblue table.dbo_list ul.dbo_paging > li.previouspage > a{
	background-image: url(images/dbo/dbo-icon_skyblue_16by16.png);
	background-position: -146px 0px; 
	width: 16px;
	height: 16px;
	padding:0px;
	color:transparent;
	text-align:center;
}

div.dbo_theme_skyblue table.dbo_list ul.dbo_paging > li.pagenumber{
	text-align:center;
	margin:0px 1px;
}

div.dbo_theme_skyblue table.dbo_list ul.dbo_paging > li.pagenumber > a{
	padding:0px 5px;
	height:22px;
}

div.dbo_theme_skyblue table.dbo_list ul.dbo_paging > li.currentpage{
	padding:0px 5px;
	text-align:center;
}

div.dbo_theme_skyblue table.dbo_list ul.dbo_paging > li.pagesummary{
	padding:0px 12px;
}

div.dbo_theme_skyblue table.dbo_list ul.dbo_paging > li.nextpage{
	margin-left:1px;
}

div.dbo_theme_skyblue table.dbo_list ul.dbo_paging > li.nextpage > span{
	background-image: url(images/dbo/dbo-icon_skyblue_16by16.png);
	background-position: -180px 0px; 
	width: 16px;
	height: 16px;
	padding:0px;
	color:transparent;
	text-align:center;
}

div.dbo_theme_skyblue table.dbo_list ul.dbo_paging > li.nextpage > a{
	background-image: url(images/dbo/dbo-icon_skyblue_16by16.png);
	background-position: -180px 0px; 
	width: 16px;
	height: 16px;
	padding:0px;
	color:transparent;
	text-align:center;
}

div.dbo_theme_skyblue table.dbo_list  a.sortable{
	color:white;
}
div.dbo_theme_skyblue table.dbo_list  a.sortable:after{
}

div.dbo_theme_skyblue table.dbo_list  a.sort_asc{
	background:url(images/dbo/asc.png) no-repeat right center;
	padding-right:13px;
}
div.dbo_theme_skyblue table.dbo_list  a.sort_desc{
	background:url(images/dbo/desc.png) no-repeat right center;
	padding-right:13px;
}

div.dbo_theme_skyblue table.dbo_list  a.sort_1{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_1:after{
	content:"1";
	font-size:0.7em;
	text-decoration:normal;
	font-style:italic;
	margin-left:5px;
	color:#66ffcc;
}

div.dbo_theme_skyblue table.dbo_list  a.sort_2{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_2:after{
	content:"2";
	font-size:0.7em;
	text-decoration:normal;
	font-style:italic;
	margin-left:5px;
	color:#66ffcc;
}

div.dbo_theme_skyblue table.dbo_list  a.sort_3{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_3:after{
	content:"3";
	font-size:0.7em;
	text-decoration:normal;
	font-style:italic;
	margin-left:5px;
	color:#66ffcc;
}

div.dbo_theme_skyblue table.dbo_list  a.sort_4{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_4:after{
	content:"4";
	font-size:0.7em;
	text-decoration:normal;
	font-style:italic;
	margin-left:5px;
	color:#66ffcc;
}

div.dbo_theme_skyblue table.dbo_list  a.sort_5{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_5:after{
	content:"5";
	font-size:0.7em;
	text-decoration:normal;
	font-style:italic;
	margin-left:5px;
	color:#66ffcc;
}

div.dbo_theme_skyblue table.dbo_list  a.sort_6{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_6:after{
	content:"6";
	font-size:0.7em;
	text-decoration:normal;
	font-style:italic;
	margin-left:5px;
	color:#66ffcc;
}

div.dbo_theme_skyblue table.dbo_list  a.sort_7{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_7:after{
	content:"7";
	font-size:0.7em;
	text-decoration:normal;
	font-style:italic;
	margin-left:5px;
	color:#66ffcc;
}

div.dbo_theme_skyblue table.dbo_list  a.sort_8{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_8:after{
	content:"8";
	font-size:0.7em;
	text-decoration:normal;
	font-style:italic;
	margin-left:5px;
	color:#66ffcc;
}

div.dbo_theme_skyblue table.dbo_list  a.sort_9{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_9:after{
	content:"9";
	font-size:0.7em;
	text-decoration:normal;
	font-style:italic;
	margin-left:5px;
	color:#66ffcc;
}

div.dbo_theme_skyblue table.dbo_list  a.sort_asc_1{
	background:url(images/dbo/asc.png) no-repeat right center;
	padding-right:13px;
}
div.dbo_theme_skyblue table.dbo_list  a.sort_asc_1:after{
	content:" [A1]";
}

div.dbo_theme_skyblue table.dbo_list  a.sort_desc_1{
	background:url(images/dbo/desc.png) no-repeat right center;
	padding-right:13px;
}
div.dbo_theme_skyblue table.dbo_list  a.sort_desc_1:after{
	content:" [D1]";
}

div.dbo_theme_skyblue table.dbo_list  a.sort_asc_2{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_asc_2:after{
	content:" [A2]";
}

div.dbo_theme_skyblue table.dbo_list  a.sort_desc_2{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_desc_2:after{
	content:" [D2]";
}

div.dbo_theme_skyblue table.dbo_list  a.sort_asc_3{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_asc_3:after{
	content:" [A3]";
}

div.dbo_theme_skyblue table.dbo_list  a.sort_desc_3{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_desc_3:after{
	content:" [D3]";
}

div.dbo_theme_skyblue table.dbo_list  a.sort_asc_4{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_asc_4:after{
	content:" [A4]";
}

div.dbo_theme_skyblue table.dbo_list  a.sort_desc_4{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_desc_4:after{
	content:" [D4]";
}
div.dbo_theme_skyblue table.dbo_list  a.sort_asc_5{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_asc_5:after{
	content:" [A5]";
}

div.dbo_theme_skyblue table.dbo_list  a.sort_desc_5{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_desc_5:after{
	content:" [D5]";
}
div.dbo_theme_skyblue table.dbo_list  a.sort_asc_6{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_asc_6:after{
	content:" [A6]";
}

div.dbo_theme_skyblue table.dbo_list  a.sort_desc_6{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_desc_6:after{
	content:" [D6]";
}
div.dbo_theme_skyblue table.dbo_list  a.sort_asc_7{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_asc_7:after{
	content:" [A7]";
}

div.dbo_theme_skyblue table.dbo_list  a.sort_desc_7{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_desc_7:after{
	content:" [D7]";
}
div.dbo_theme_skyblue table.dbo_list  a.sort_asc_8{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_asc_8:after{
	content:" [A8]";
}

div.dbo_theme_skyblue table.dbo_list  a.sort_desc_8{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_desc_8:after{
	content:" [D8]";
}
div.dbo_theme_skyblue table.dbo_list  a.sort_asc_9{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_asc_9:after{
	content:" [A9]";
}

div.dbo_theme_skyblue table.dbo_list  a.sort_desc_9{
}
div.dbo_theme_skyblue table.dbo_list  a.sort_desc_9:after{
	content:" [D9]";
}

/* detail */
td.dbo_container_detail td.form_button{
}
div.dbo_theme_skyblue td.dbo_container_detail{
}

div.dbo_theme_skyblue td.dbo_container_detail > fieldset{

}

div.dbo_theme_skyblue td.dbo_container_detail > fieldset > legend{

}

div.dbo_theme_skyblue td.dbo_container_detail th.caption{
	font-weight:normal;
	text-align:left;
}

div.dbo_theme_skyblue td.dbo_container_detail td.colon{
	font-weight:bold;
}

div.dbo_theme_skyblue td.dbo_container_detail td.button button.detail_cancel, 
div.dbo_theme_skyblue td.dbo_container_detail td.button input.detail_cancel{
	width: 120px;
	height: 35px;
	background: url(images/dbo/detail_cancel.png) no-repeat transparent;
	border: 0px;
	cursor: pointer;
	color:transparent;
}

div.dbo_theme_skyblue td.dbo_container_detail td.button button.detail_cancel:hover, 
div.dbo_theme_skyblue td.dbo_container_detail td.button input.detail_cancel:hover{
	background: url(images/dbo/detail_cancel_hover.png) no-repeat transparent;
}

div.dbo_theme_skyblue td.dbo_container_detail td.button button.detail_delete, 
div.dbo_theme_skyblue td.dbo_container_detail td.button input.detail_delete{
	width: 120px;
	height: 35px;
	background: url(images/dbo/detail_delete.png) no-repeat transparent;
	border: 0px;
	cursor: pointer;
	color:transparent;
}

div.dbo_theme_skyblue td.dbo_container_detail td.button button.detail_delete:hover, 
div.dbo_theme_skyblue td.dbo_container_detail td.button input.detail_delete:hover{
	background: url(images/dbo/detail_delete_hover.png) no-repeat transparent;
}

/* search */

div.dbo_theme_skyblue td.dbo_container_search{
}



div.dbo_theme_skyblue td.dbo_container_search th.caption{
	font-weight:normal;
	text-align:left;
}

div.dbo_theme_skyblue td.dbo_container_search th.caption div.mandatory:after, div.dbo_theme_skyblue td.dbo_container_search td.caption div.mandatory:after{
	content:" *";
	color:red;
}

div.dbo_theme_skyblue td.dbo_container_search td.colon{
	font-weight:bold;
	color:#222222;
}
/*
div.dbo_theme_skyblue td.dbo_container_search td.value input[type=text]{
	border-radius:5px;
	padding:1px 3px;
	border: 2px solid #4297d7;
}

div.dbo_theme_skyblue td.dbo_container_search td.value textarea{
	border-radius:5px;
	padding:1px 3px;
	border: 2px solid #4297d7;
}

div.dbo_theme_skyblue td.dbo_container_search td.value select{
	border-radius:5px;
	padding:1px 3px;
}*/

div.dbo_theme_skyblue td.dbo_container_search td.form_button button.search_cancel, 
div.dbo_theme_skyblue td.dbo_container_search td.form_button input.search_cancel{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

div.dbo_theme_skyblue td.dbo_container_search td.form_button button.search_cancel:hover, 
div.dbo_theme_skyblue td.dbo_container_search td.form_button input.search_cancel:hover{
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

div.dbo_theme_skyblue td.dbo_container_search td.form_button button.search_submit, 
div.dbo_theme_skyblue td.dbo_container_search td.form_button input.search_submit{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

div.dbo_theme_skyblue td.dbo_container_search td.form_button button.search_submit:hover, 
div.dbo_theme_skyblue td.dbo_container_search td.form_button input.search_submit:hover{
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

/* new */

div.dbo_theme_skyblue td.dbo_container_new{
}

div.dbo_theme_skyblue td.dbo_container_new pre.dbo_error_new{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
div.dbo_theme_skyblue td.dbo_container_new .dbo_after_new_message{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;         
}



div.dbo_theme_skyblue td.dbo_container_new th.caption{
	font-weight:normal;
	text-align:left;
}

div.dbo_theme_skyblue td.dbo_container_new th.caption div.mandatory:after, div.dbo_theme_skyblue td.dbo_container_new td.caption div.mandatory:after{
	content:" *";
	color:red;
}

div.dbo_theme_skyblue td.dbo_container_new td.colon{
	font-weight:bold;
}

/*div.dbo_theme_skyblue td.dbo_container_new td.value input[type=text], div.dbo_theme_skyblue td.dbo_container_new td.value input[type=password]{
	border-radius:5px;
	padding:1px 3px;
	border: 2px solid #4297d7;
}

div.dbo_theme_skyblue td.dbo_container_new td.value textarea{
	border-radius:5px;
	padding:1px 3px;
	border: 2px solid #4297d7;
}

div.dbo_theme_skyblue td.dbo_container_new td.value select{
	border-radius:5px;
	padding:1px 3px;
}*/


div.dbo_theme_skyblue td.dbo_container_new td.form_button{
	text-align:right;
}

div.dbo_theme_skyblue td.dbo_container_new td.form_button button.new_cancel, 
div.dbo_theme_skyblue td.dbo_container_new td.form_button input.new_cancel{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

div.dbo_theme_skyblue td.dbo_container_new td.form_button button.new_cancel:hover, 
div.dbo_theme_skyblue td.dbo_container_new td.form_button input.new_cancel:hover{
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

div.dbo_theme_skyblue td.dbo_container_new td.form_button button.new_submit, 
div.dbo_theme_skyblue td.dbo_container_new td.form_button input.new_submit{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

div.dbo_theme_skyblue td.dbo_container_new td.form_button button.new_submit:hover, 
div.dbo_theme_skyblue td.dbo_container_new td.form_button input.new_submit:hover{
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

/* edit */
div.dbo_theme_skyblue td.dbo_container_edit{
}
div.dbo_theme_skyblue td.dbo_container_edit pre.dbo_error_new{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
div.dbo_theme_skyblue td.dbo_container_edit pre.dbo_error_edit{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
div.dbo_theme_skyblue td.dbo_container_edit .dbo_after_edit_message{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;  
}


div.dbo_theme_skyblue td.dbo_container_edit th.caption{
	font-weight:normal;
	text-align:left;
}

div.dbo_theme_skyblue td.dbo_container_edit th.caption div.mandatory:after, div.dbo_theme_skyblue td.dbo_container_edit td.caption div.mandatory:after{
	content:" *";
	color:red;
}

div.dbo_theme_skyblue td.dbo_container_edit td.colon{
	font-weight:bold;
}

/*div.dbo_theme_skyblue td.dbo_container_edit td.value input[type=text]{
	border-radius:5px;
	padding:1px 3px;
	border: 2px solid #4297d7;
}

div.dbo_theme_skyblue td.dbo_container_edit td.value textarea{
	border-radius:5px;
	padding:1px 3px;
	border: 2px solid #4297d7;
}

div.dbo_theme_skyblue td.dbo_container_edit td.value select{
	border-radius:5px;
	padding:1px 3px;
}
*/
div.dbo_theme_skyblue td.dbo_container_edit td.value textarea{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

}
div.dbo_theme_skyblue td.dbo_container_edit td.form_button{
	text-align:right;
}

div.dbo_theme_skyblue td.dbo_container_edit td.form_button{
	text-align:right;
}

div.dbo_theme_skyblue td.dbo_container_edit td.form_button button.edit_cancel, 
div.dbo_theme_skyblue td.dbo_container_edit td.form_button input.edit_cancel{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

div.dbo_theme_skyblue td.dbo_container_edit td.form_button button.edit_cancel:hover, 
div.dbo_theme_skyblue td.dbo_container_edit td.form_button input.edit_cancel:hover{
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

div.dbo_theme_skyblue td.dbo_container_edit td.form_button button.edit_submit, 
div.dbo_theme_skyblue td.dbo_container_edit td.form_button input.edit_submit{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

div.dbo_theme_skyblue td.dbo_container_edit td.form_button button.edit_submit:hover, 
div.dbo_theme_skyblue td.dbo_container_edit td.form_button input.edit_submit:hover{
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

/* delete */
div.dbo_theme_skyblue td.dbo_container_delete{
}

div.dbo_theme_skyblue td.dbo_container_delete pre.dbo_error_new{
	color:red;
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.dbo-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	background-image: url(images/dbo/dbo-icon_skyblue_16by16.png);
}

.dbo-icon-search { background-position: 0px 0px; }
.dbo-icon-edit { background-position: -36px 0px; }
.dbo-icon-new { background-position: -72px 0px; }
.dbo-icon-delete { background-position: -108px 0px; }
.dbo-icon-prev { background-position: -146px 0px; }
.dbo-icon-next { background-position: -180px 0px; }
.dbo-icon-setting { background-position: -216px 0px; }