RewriteEngine on
#RewriteRule ^web$ web.php
RewriteRule ^([0-9a-zA-Z\s]+)/([0-9a-zA-Z\s]+)/([0-9a-zA-Z\s]*)$ index.php?webc=$1&webf=$2&webf2=$3 [L,QSA]
RewriteRule ^([0-9a-zA-Z\s]+)/([0-9a-zA-Z\s]*)$ index.php?webc=$1&webf=$2 [L,QSA]
RewriteRule ^([0-9a-zA-Z\s]+)$ index.php?webc=$1